.home-hero {
    padding-top: 15.9rem;
    background: linear-gradient(180deg, rgba(213,218,222,1) 0%, rgba(213,218,222,0) 100%,);
    overflow: hidden;
    .decor-slash.hidden-dk {
        display: none;
    }
    &-img {
        grid-column: 1/9;
        grid-row: 1/3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-line {
            width: 100%;
        }
        &-sat {
            position: absolute;
            width: 50.98%;
        }
    }
    &-title-wrap {
        grid-column: 9/17;
    }
    &-title {
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
    &-sub-wrap {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-bottom: 6rem;
    }
    &-sub {
        flex: none;
    }
    &-btn-wrap {
        display: flex;
        grid-column: 9/14;
        grid-row: 2/3;
        align-items: start;
    }
    &-body-wrap {
        grid-column: 14/17;
        grid-row: 2/3;
    }
    &-body {
        color: $cl-body;
    }
}
@include md {
    .home-hero {
        padding-top: 9.2rem;
        .decor-slash.hidden-dk {
            display: block;
            grid-column: 1/-1;
            grid-row: 1/2;
        }
        &-img {
            grid-column: 1/8;
            grid-row: 2/5;
            margin-top: 3.5rem;
            margin-left: -2.724rem;
            margin-right: 1.356rem;
            &-sat {
                width: 50.98%;
            }
        }
        &-title-wrap {
            grid-column: 8/13;
            grid-row: 2/3;
            margin-left: -1.6rem;
            .decor-slash {
                display: none;
            }
        }
        &-title {
            margin-top: 4rem;
            margin-bottom: 1.2rem;
        }
        &-sub-wrap {
            column-gap: 0;
            margin-bottom: 1.2rem;
            .decor-slash {
                display: none;
            }
        }
        &-btn-wrap {
            margin-left: -1.6rem;
            grid-column: 8/13;
            grid-row: 4/5;
        }
        &-body-wrap {
            margin-left: -1.6rem;
            grid-column: 8/13;
            grid-row: 3/4;
            margin-bottom: 3.2rem;
        }
    }   
}
@include sm {
    .home-hero {
        padding-top: 9.6rem;
        &-img {
            grid-column: 1/-1;
            grid-row: 5/6;
            margin-top: 8rem;
            margin-left: -2.376rem;
            margin-right: -3.344rem;
        }
        &-title-wrap {
            grid-column: 1/-1;
            margin-left: 0;
            text-align: center;
        }
        &-sub-wrap {
            margin-bottom: 3.2rem;
            text-align: center;
            justify-content: center;
        }
        &-btn-wrap {
            margin-left: 0;
            grid-column: 1/-1;
            justify-content: center;
        }
        &-body-wrap {
            margin-left: 0;
            grid-column: 1/-1;
            margin-bottom: 3.2rem;
            text-align: center;
        }
    }   
}
.home-hero-mid {
    &-img {
        pointer-events: none;
        grid-column: 4/14;
        margin-top: -11.9rem;
    }
    &-line {
        &.show-tb, &.show-mb {
            display: none;
        }
    }
}
@include md {
    .home-hero-mid {
        &-img {
            grid-column: 3/11;
            margin-top: -7rem;
            margin-left: -.2rem;
            margin-right: .2rem;
        }
        &-line {
            &.show-dk {
                display: none;
            }
            &.show-tb {
                display: block;
            }
        }
    }
}
@include sm {
    .home-hero-mid {
        &-img {
            grid-column: 1/-1;
            margin-top: -7.6rem;
            margin-left: -.5rem;
            margin-right: 0rem;
            margin-bottom: -2.6rem;
        }
        &-line {
            &.show-tb {
                display: none;
            }
            &.show-mb {
                display: block;
            }
        }
    }
}
@include xs {
    .home-hero-mid {
        &-img {
            margin-top: -5rem;
            margin-left: 0;
        }
    }
}
.home-hero-tail {
    &-title {
        grid-column: 2/8;
        max-width: 53.5rem;
        margin-top: 14rem;
        grid-row: 1/2;
    }
    &-img {
        grid-column: 7/17;
        grid-row: 1/2;
        margin-right: -1.3rem;
        .hidden-dk {
            display: none;
        }
        .hidden-mb {
            display: block;
        }
    }
}
@include md {
    .home-hero-tail {
        &-title {
            grid-column: 1/6;
            max-width: 24.1rem;
            margin-top: 12rem;
        }
        &-img {
            grid-column: 5/13;
            margin-right: -2.36rem;
            margin-left: -1.2rem;
        }
    } 
}
@include sm {
    .home-hero-tail {
        overflow: hidden;
        &-title {
            grid-column: 1/-1;
            grid-row: 2/3;
            margin-top: 5.8rem;
            max-width: none;
            text-align: center;
        }
        &-img {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-right: -1.6rem;
            margin-left: -1.6rem;
            .hidden-dk {
                display: block;
            }
            .hidden-mb {
                display: none;
            }
        }
    } 
}
.home-abt {
    padding-top: 2.9rem;
    padding-bottom: 12rem;
    .decor-slash {
        grid-column: 2/ 16;
    }
    &-title {
        grid-column: 2/16;
        margin: 0 auto;
        max-width: 120rem;
        width: 100%;
        margin-top: 12rem;
        margin-bottom: 8rem;
        text-align: center;
    }
    &-btn-wrap {
        grid-column: 2/16;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
@include md {
    .home-abt {
        padding-top: 2rem;
        .decor-slash {
            grid-column: 1/ -1;
        }
        &-title {
            grid-column: 1/-1;
            max-width: 57rem;
            margin-top: 6rem;
            margin-bottom: 4rem;
        }
        &-btn-wrap {
            grid-column: 1/-1;
        }
    }  
}
@include sm {
    .home-abt {
        padding-top: 6rem;
        padding-bottom: 10rem;
        &-title {
            margin-bottom: 6rem;
            font-size: 3.2rem;
            line-height: 1.3em;
        }
    }  
}
.home-part {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-label-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        margin-bottom: 4rem;
    }
    &-label {
        color: $cl-txt-desc;
        white-space: nowrap;
    }
    &-marquee {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: nowrap;
        column-gap: 3.2rem;
        &.hidden-dk {
            display: none;
        }
        &-inner {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 0rem;
            //animation: animMarquee 20s infinite linear;
        }
        &-item {
            height: 6rem;
            width: calc(100% / 6);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }
        @keyframes animMarquee {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        @keyframes animMarqueeRev {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
}
@include md {
    .home-part {
        padding-top: 0rem;
        padding-bottom: 6rem;
        &-label-wrap {
            column-gap: 2rem;
        }
        &-marquee {
            &-inner {
                display: felx;
                column-gap: 0;
                row-gap: 3.2rem;
                flex-wrap: wrap;
                justify-content: center;
            }
            &-item {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 4.2rem;
            }
        }
    } 
}
@include sm {
    .home-part {
        padding-bottom: 4rem;
        &-label-wrap {
        }
        &-marquee {
            &-inner {
                row-gap: 2rem;
            }
            &-item {
                width: calc(100% / 3);
                height: 3.6rem;
            }
        }
    } 
}
.home-prob {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-color: $cl-bg-beige;
    overflow: hidden;
    .decor-slash { 
        grid-column: 2/16;
        margin-bottom: 8rem;
    }
    &-label {
        grid-column: 2/8;
        align-self: start;
        justify-self: start;
        margin-bottom: 10rem;
    }
    &-title {
        grid-column: 9/16;
        margin-bottom: 10rem;
    }
    &-main {
        grid-column: 2/17;
        &.swiper {
            overflow: visible;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4.4rem;
        border-radius: 2rem;
        background-color: rgba($cl-white, 1);
        min-height: 40rem;
        &-title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
        &-title {
            max-width: 28rem;
        }
        &-ic {
            margin-top: -.3rem;
            flex: none;
        }
    }
    &-pagi {
        display: none;
    }
    &-counter {
        display: none;
    }
}
@include md {
    .home-prob {
        padding-top: 8rem;
        padding-bottom: 8rem;
        .decor-slash { 
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-bottom: 6rem;
        }
        &-label {
            grid-column: 1/6;
            grid-row: 2/3;
            margin-bottom: 0;
        }
        &-title {
            grid-column: 6/13;
            grid-row: 2/4;
            margin-bottom: 6rem;
            font-size: 3.5rem;
            line-height: 1.2em;
            font-family: 'Aeonik';
            margin-right: -.5rem;
        }
        &-main {
            grid-column: 1/-1;
        }
        &-item {
            padding: 3.2rem 2.4rem;
            border-radius: 1.2rem;
            min-height: 30rem;
            &.swiper-slide {
                width: calc(50% - 7.2rem);
            }
            &-title-wrap {
                column-gap: 1.2rem;
            }
            &-title {
                max-width: 20.5rem;
            }
            &-ic {
                margin-top: 0rem;
                @include size(4rem);
            }
        }
        &-pagi {
            grid-column: 1/6;
            grid-row: 3/4;
            display: flex;
            column-gap: .8rem;
            margin-bottom: 6rem;
            align-self: end;
            .swiper-pagi-prev, .swiper-pagi-next {
                display: flex;
                align-items: center;
                justify-content: center;
                @include size(3.6rem);
                border-radius: 50%;
                border: solid 1px rgba($cl-border, .2);
                @include transition(all 400ms ease);
                .icon {
                    color: rgba($cl-border, 1);
                    @include transition(opacity 400ms ease);
                }
                &:hover {
                    background-color: rgba($cl-txt, 1);
                    .icon {
                        color: rgba($cl-white, 1);
                    }
                }
                &.swiper-button-disabled {
                    pointer-events: none;
                    .icon {
                        color: rgba($cl-border, 1);
                        opacity: .2;
                    }
                }
            }
        }
    }   
}
@include sm {
    .home-prob {
        padding-top: 6rem;
        padding-bottom: 6rem;
        &-label {
            grid-column: 1/-1;
            margin-bottom: 3.2rem;
        }
        &-title {
            grid-column: 1/-1;
            grid-row: 3/4;
            font-size: 3.2rem;
            line-height: 1.3em;
            margin-right: 0;
        }
        &-main {
            grid-column: 1/-1;
            margin-bottom: 6rem;
        }
        &-item {
            &.swiper-slide {
                width: calc(100% - 3.2rem);
            }
        }
        &-pagi {
            grid-column: 1/-1;
            grid-row: 5/6;
            pointer-events: none;
            display: flex;
            justify-content: end;
            margin-bottom: 0;
            .swiper-pagi-prev, .swiper-pagi-next {
                pointer-events: auto;
            }
        }
        &-counter {
            align-self: center;
            justify-self: start;
            display: block;
            pointer-events: none;
            grid-column: 1/-1;
            grid-row: 5/6;
        }
    }    
}
.home-sol {
    position: relative;
    &-title-wrap {
        grid-column: 3/15;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12rem;
        margin-bottom: 12rem;
        text-align: center;
        width: 100%;
    }
    &-label {
        margin-bottom: 4rem;
        color: rgba($cl-white, 1);
        border-color: rgba($cl-white, .1);
    }
    &-title {
        margin-bottom: 4rem;
        color: rgba($cl-white, 1);
    }
    &-main {
        grid-column: 2/16;
        padding: 4rem;
        border-radius: 2rem;
        background-color: rgba($cl-bg-beige, 1);
    }
    &-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6rem 6rem 8rem;
        &-ic {
            margin-bottom: 10rem;
        }
        &-title-wrap {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title {
            margin-bottom: 1.2rem;
        }
        &-body {
            color: rgba($cl-body, 1);
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 46.2rem;
        z-index: 1;
        width: 100%;
    }
}
@media only screen and (min-width: 991px) {
    .home-sol {
        &-item {
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                border-bottom: 1px solid #D4CDC9;
                border-right: 1px solid #D4CDC9;
            }
            &:nth-child(3) {
                border-right: none;
            }
            &:nth-child(4), &:nth-child(5) {
                border-right: 1px solid #D4CDC9;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                padding: 8rem 6rem 6rem;
            }
        }
    }           
}
@include md {
    .home-sol {
        &-title-wrap {
            grid-column: 2/12;
            margin-top: 6rem;
            margin-bottom: 6rem;
        }
        &-label {
            margin-bottom: 3.2rem;
        }
        &-title {
            margin-bottom: 3.2rem;
            font-size: 4.4rem;
            line-height: 1.2em;
            .heading.h2 {
                font-size: 4.4rem;
                line-height: 1.2em;
            }
        }
        &-main {
            grid-column: 2/12;
            padding: 3.2rem;
            margin-left: -1rem;
            margin-right: -1rem;
        }
        &-inner {
            grid-template-columns: repeat(2, 1fr);
        }
        &-item {
            padding-top: 4rem;
            padding-bottom: 4rem;    
            padding-left: 0;
            padding-right: 0;
            @media only screen and (min-width: 767px) {
                &:nth-child(1), &:nth-child(3) {
                    border-bottom: 1px solid #D4CDC9;
                    border-right: 1px solid #D4CDC9;
                }
                &:nth-child(5) {
                    border-right: 1px solid #D4CDC9;
                }
                &:nth-child(2), &:nth-child(4) {
                    border-bottom: 1px solid #D4CDC9;
                }
                &:nth-child(1), &:nth-child(3), &:nth-child(5) {
                    padding-right: 3.2rem;
                }
                &:nth-child(2), &:nth-child(4), &:nth-child(6) {
                    padding-left: 3.2rem;
                }
            }
            &-ic {
                margin-bottom: 4rem;
                @include size(4rem);
            }
            &-title {
                margin-bottom: .8rem;
            }
        }
        &-bg {
            bottom: 53.6rem;
        }
    }
}
@include sm {
    .home-sol {
        &-title-wrap {
            grid-column: 1/-1;
            margin-top: 8rem;
            margin-bottom: 8rem;
        }
        &-title {
            font-size: 3.2rem;
            line-height: 1.3em;
            .heading.h2 {
                font-size: 3.6rem;
            }
        }
        &-main {
            grid-column: 1/-1;
            padding: 3.2rem 2rem;
            margin-left: 0;
            border-radius: 1.2rem;
            margin-right: 0;
        }
        &-inner {
            grid-template-columns: repeat(1, 1fr);
        }
        &-item {
            flex-direction: row;
            align-items: start;
            column-gap: 1.6rem;
            padding-bottom: 2.4rem;
            border-bottom: 1px solid #D4CDC9;
            padding-top: 2.4rem;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
            &-ic {
                flex: none;
                margin-bottom: 0rem;
                margin-top: .6rem;
                @include size(2.4rem);
            }
            &-title-wrap {
                align-items: start;
            }
            &-title {
                margin-bottom: .4rem;
                text-align: left;
                font-size: 1.8rem;
                line-height: 1.6em;
            }
            &-body {
                text-align: left;
                font-size: 1.6rem;
                line-height: 1.6em;
            }
        }
        &-bg {
            bottom: 27.4rem;
        }
    }
}
.home-tech {
    padding-top: 12rem;
    padding-bottom: 12rem;
    .decor-slash {
        grid-column: 2/16;
        margin-bottom: 12rem
    }
    &-title-wrap {
        grid-column: 2/8;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    &-title {
        max-width: 50.2rem;
        margin-bottom: 8rem;
    }
    &-btn-wrap {
        display: flex;
        justify-content: start;
        &.hidden-dk {
            display: none;
        }
    }
    &-main {
        grid-column: 8/16;
        grid-row: 2/3;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
    }
    &-item {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        padding-bottom: 6rem;
        border-bottom: 1px solid rgba($cl-border, .1);
    }
}
@include md {
    .home-tech {
        .decor-slash {
            grid-column: 1/-1;
            margin-bottom: 6rem;
        }
        &-title-wrap {
            grid-column: 1/-1;
            grid-row: 2/3;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            margin-bottom: 6rem;
        }
        &-title {
            margin-bottom: 0rem;
            max-width: 44.3rem;
        }
        &-btn-wrap {
        }
        &-main {
            grid-column: 1/-1;
            grid-row: 3/4;
        }
        &-inner {
            row-gap: 2.4rem;
        }
        &-item {
            column-gap: 1.6rem;
            padding-top: 2.4rem;
        }
    }
}
@include sm {
    .home-tech {
        padding-top: 10rem;
        padding-bottom: 10rem;
        &-title-wrap {
            margin-bottom: 3.2rem;
        }
        &-title {
            font-size: 4.8rem;
            line-height: 1.2em;
        }
        &-btn-wrap {
            grid-column: 1/-1;
            justify-content: center;
            &.hidden-dk {
                display: flex;
            }
            &.hidden-mb {
                display: none;
            }
        }
        &-main {
            margin-bottom: 6rem;
        }
        &-inner {
            row-gap: 0;
        }
        &-item {
            column-gap: 1.6rem;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            row-gap: 1.6rem;
            display: flex;
            flex-direction: column;
        }
    }
}
.home-faq {
    background-color: rgba($cl-bg-beige, 1);
    padding-top: 8rem;
    padding-bottom: 8rem;
    &-img {
        grid-column: 1/9;
        margin-left: 4rem;
        margin-right: 8rem;
        border-radius: 2rem;
        overflow: hidden;
        align-self: stretch;
        min-height: 95rem;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &-content {
        grid-column: 10/16;
        padding-top: 4rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .decor-slash {
            margin-bottom: 6rem;
        }
    }
    &-title {
        margin-bottom: 6rem;
    }
    &-main {
        //margin-top: auto;
    }
    &-inner {
        display: flex;
        flex-direction: column;
    }
    &-item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba($cl-border, .1);
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            &:hover {
                .home-faq-item-ic {
                    border-color: transparent;
                    background-color: rgba($cl-blue,1);
                    color: rgba($cl-white, 1);
                }
            }
        }
        &-ic {
            @include size(3.6rem);
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px rgba($cl-border, .1);
            border-radius: 50%;
            background-color: rgba($cl-txt, 1);
            @include transition(all 400ms ease);
            color: rgba($cl-white, 1);
            .icon {
                path {
                    @include transition(transform 400ms ease);
                    transform-origin: 50% 50%;
                }
            }
        }
        &-body {
            display: none;
            color: rgba($cl-body, 1);
            margin-top: -1rem;
            padding-top: 1rem;
            &-inner {
                margin-top: -1rem;
                margin-bottom: 3rem;
            }
        }

        &.active {
            .home-faq-item-ic {
                background-color: rgba($cl-txt, 0);
                color: rgba($cl-txt, 1);
                .icon {
                    path:nth-child(1) {
                        @include transform(rotateZ(90deg))
                    }
                }
            }
            &:hover {
                .home-faq-item-ic {
                    border-color: transparent;
                    background-color: rgba($cl-blue,1);
                    color: rgba($cl-white, 1);
                }
            }
        }
    }
}
@include md {
    .home-faq {
        &-img {
            grid-column: 1/6;
            margin-left: 0;
            margin-right: 0;
            align-self: start;
            height: 41.2rem;
            min-height: auto;
        }
        &-content {
            grid-column: 7/13;
            padding-top: 0;
            padding-bottom: 0;
            .decor-slash {
                margin-bottom: 2.4rem;
            }
        }
        &-title {
            margin-bottom: 2.4rem;
            font-size: 3.2rem;
            line-height: 1.3em;
        }
        &-main {
            
        }
        &-inner {
           
        }
    }
}
@include sm {
    .home-faq {
        padding-top: 6rem;
        padding-bottom: 10rem;
        &-img {
            grid-column: 1/-1;
            grid-row: 2/3;
            height: 46rem;
            border-radius: 1.2rem;
        }
        &-content {
            grid-column: 1/-1;
            display: grid;
            .decor-slash {
                grid-row: 3/4;
                margin-top: 6rem;
                margin-bottom: 6rem;
            }
        }
        &-title {
            margin-bottom: 3.2rem;
        }
        &-main {
            
        }
        &-inner {
           
        }
    }
}