.ins-hero {
    padding-top: 25rem;
    padding-bottom: 19.2rem;
    position: relative;
    background-color: rgba($cl-txt, 1);
    &-title {
        grid-column: 1/-1;
        width: 100%;
        margin: 0 auto;
        max-width: 92.6rem;
        text-align: center;
        color: rgba($cl-white, 1);
    }
    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
@include md {
    .ins-hero {
        padding-top: 18.8rem;
        padding-bottom: 13.8rem;
        &-title {
            line-height: 1.2em;
        }
    }
}
@include sm {
    .ins-hero {
        padding-top: 20rem;
        padding-bottom: 20rem;
        &-title {
            font-size: 4.8rem;
        }
    }
}
.ins-news {
    padding-top: 12rem;
    padding-bottom: 12rem;
    &-logo {
        grid-column: 1/7;
        height: 74rem;
        overflow: hidden;
        border-radius: 2rem;
        &-inner {
            @include size(100%);
            background-color: rgba($cl-txt-sub, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &-item {
            position: absolute;
            @include size(100%);
            opacity: 0;
            @include transition(all 400ms ease);
            &-inner {
                @include size(100%);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--press_color);
            }
            &-img {
                @include size(100%);
                max-width: 36.2rem;
                max-height: 19.6rem;
                @include transform(scale(.95));
                @include transition(all 400ms ease);
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
            &.active {
                opacity: 1;
                .ins-news-logo-item-img {
                    @include transform(scale(1));
                }
            }
        }
    }
    &-main {
        grid-column: 8/17;
        &-title-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 2.4rem;
            margin-bottom: 4rem;
        }
        &-pagi {
            grid-column: 1/6;
            grid-row: 3/4;
            display: flex;
            column-gap: .8rem;
            .swiper-pagi-prev, .swiper-pagi-next {
                display: flex;
                align-items: center;
                justify-content: center;
                @include size(3.6rem);
                border-radius: 50%;
                border: solid 1px rgba($cl-border, .2);
                @include transition(all 400ms ease);
                .icon {
                    color: rgba($cl-border, 1);
                    @include transition(opacity 400ms ease);
                }
                &:hover {
                    background-color: rgba($cl-txt, 1);
                    .icon {
                        color: rgba($cl-white, 1);
                    }
                }
                &.swiper-button-disabled {
                    background-color: rgba($cl-txt, 0);
                    pointer-events: none;
                    .icon {
                        color: rgba($cl-txt, 1);
                        opacity: .2;
                    }
                }
            }
        }
        &-inner {
            display: flex;
            flex-direction: column;
            &.swiper {
                height: 66rem;
            }
        }
        &-list {
            // height: 100%;
        }
        &-item {
            position: relative;
            height: calc(100% / 4) !important;
            &-logo {
                display: none;
            }
            &-content {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
            &-year {
                position: absolute;
                top: 3rem;
                right: 0;
                color: rgba($cl-txt-sub, 1)
            }
            &-title {
                margin-bottom: .4rem;
                @include transition(color 400ms ease);
                max-width: 50rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
            &-name {
                color: rgba($cl-txt-desc, 1);
            }
            .line {
                position: absolute;
                bottom: 0;
                left: 0;
                &-inner {
                    @include size(100%);
                    transform-origin: left;
                    @include transform(scaleX(0));
                    @include transition(transform 400ms ease);
                    background-color: rgba($cl-txt-desc, 1);
                }
            }
            &:hover {
                .ins-news-main-item-title {
                    color: rgba($cl-blue, 1);
                }
                .line-inner {
                    @include transform(scaleX(1));
                }
            }
        }
    }
}
@include md {
    .ins-news {
        padding-top: 6rem;
        padding-bottom: 6rem;
        &-logo {
            display: none;
        }
        &-main {
            grid-column: 1/-1;
            &-title-wrap {
                margin-bottom: 3.2rem;
            }
            &-title {
                font-size: 4.4rem;
                line-height: 1.2em;
            }
            &-inner {
                &.swiper {
                    height: 39.6rem;
                }
            }
            
            &-item {
                height: calc(100% / 2) !important;
                padding-right: 1.6rem;
                &.swiper-slide {
                    display: flex;
                    column-gap: 1.6rem;
                }
                &-logo {
                    display: flex;
                    border-radius: 1.2rem;
                    overflow: hidden;
                    padding: 1rem;
                    width: 12.2rem;
                    margin-top: 2.4rem;
                    margin-bottom: 2.4rem;
                    flex-shrink: 0;
                    background-color: var(--press_color_mb);
                }
                &-content {
                    padding-top: 2.4rem;
                    padding-bottom: 2.4rem;
                }
                &-year {
                    position: relative;
                    top: auto;
                    right: auto;
                    margin-bottom: .8rem;
                    font-size: 1.4rem;
                    line-height: 1.5em;
                }
                &-title {
                    max-width: 23.1rem;
                    -webkit-line-clamp: 3;
                    font-size: 2rem;
                    line-height: 1.5em;
                }
                &-name {
                    font-size: 1.4rem;
                    line-height: 1.5em;
                    margin-top: auto;
                }
            }
        }
    }
}
@include sm {
    .ins-news {
        &-main {
            &-title-wrap {
                margin-bottom: 4rem;
            }
            &-title {
                font-size: 3.6rem;
            }
            &-inner {
                &.swiper {
                    height: 71.2rem;
                }
            }
            &-item {
                height: calc(100% / 4) !important;
                &.swiper-slide {
                    padding-right: 0;
                }
                &-title {
                    line-height: 1.4em;
                }
                &-logo {
                    width: 10rem;
                    height: 13.8rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                &-content {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
                &-year {
                    margin-bottom: .4rem;
                }
            }
        }
    }
}
.ins-art {
    padding-bottom: 12rem;
    &-title-wrap {
        grid-column: 1/-1;
        max-width: 102.2rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-title {
        margin-bottom: 3.2rem;
    }
    &-main {
        grid-column: 1/-1;
        max-width: 102.2rem;
        width: 100%;
        margin: 0 auto;
        &-inner {
            width: 100%;
        }
        &-item {
            padding-top: 6rem;
            padding-bottom: 6rem;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            position: relative;
            &.hidden {
                display: none;
            }
            &-thumb {
                grid-column: 1/5;
                height: 32rem;
                overflow: hidden;
                border-radius: 1.2rem;
                height: 32rem;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-content {
                grid-column: 6/11;
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            &-title {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin-bottom: 2rem;
                @include transition(color 400ms ease);
            }
            &-info {
                width: 100%;
                margin-top: auto;
                display: flex;
                align-items: end;
                justify-content: space-between;
            }
            &-link {
                color: rgba($cl-txt-desc, 1);
                @include transition(color 400ms ease);
                display: inline-block;
                overflow: hidden;
            }
            .line {
                position: absolute;
                bottom: 0;
                left: 0;
                .line-inner {
                    position: absolute;
                    @include size(100%);
                    top: 0;
                    left: 0;
                    transform-origin: left;
                    background-color: rgba($cl-txt, 1);
                    @include transform(scaleX(0));
                    @include transition(transform 400ms ease);
                }
            }
            &:hover {
                .line {
                    .line-inner {
                        @include transform(scaleX(1));
                    }
                }
                .ins-art-main-item-title {
                    color: rgba($cl-blue, 1);
                }
            }
        }
        &-btn-wrap {
            margin-top: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.hidden {
                display: none;
            }
        }
    }
}
@include md {
    .ins-art {
        padding-bottom: 10rem;
        &-title-wrap {
            text-align: left;
            align-items: start;
            margin-bottom: 6rem;
        }
        &-title {
            font-size: 4.4rem;
            line-height: 1.2em;
        }
        &-main {
            &-inner {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: var(--grid-gap);
            }
            &-item {
                padding-top: 1.6rem;
                padding-bottom: 3.2rem;
                display: flex;
                flex-direction: column-reverse;
                &-thumb {
                    margin-top: auto;
                    height: 32rem;
                    overflow: hidden;
                    border-radius: 1.2rem;
                }
                &-content {
                    margin-bottom: 1.6rem;
                    flex-direction: column-reverse;
                    justify-content: start;
                }
                &-label {
                    margin-bottom: 1.6rem;
                }
                &-title {
                    font-size: 2.4rem;
                    line-height: 1.5em;
                    margin-bottom: 0rem;
                }
                &-link {
                    display: none;
                }
                .arr-wrap {
                    display: none;
                }
            }
            &-btn-wrap {
                margin-top: 6rem;
            }
        }
    }
}
@include sm {
    .ins-art {
        padding-bottom: 8rem;
        &-title-wrap {
            margin-bottom: 4rem;
        }
        &-title {
            font-size: 3.6rem;
        }
        &-main {
            &-inner {
                grid-template-columns: repeat(1, 1fr);
                gap: var(--grid-gap);
            }
            &-item {
                &-thumb {
                    height: 25.6rem;
                }
                &-content {
                    margin-bottom: 1.6rem;
                }
                &-label {
                    margin-bottom: .8rem;
                }
                &-title {
                    font-size: 2.4rem;
                    line-height: 1.5em;
                }
                .arr-wrap {
                    display: none;
                }
            }
            &-btn-wrap {
                margin-top: 4rem;
            }
        }
    }
}