.notfound-main {
    padding-top: 30rem;
    padding-bottom: 30rem;
    background: linear-gradient(180deg, rgba(213,218,222,1) 0%, rgba(213,218,222,0) calc(100% - 19rem));
    &-inner {
        opacity: 0;
        @include transition(opacity 400ms ease);
        &.active {
            opacity: 1;
        }
        grid-column: 1/-1;
        width: 100%;
        margin: 0 auto;
        max-width: 79.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-title {
        font-size: 30rem;
        line-height: .9em;
        font-weight: 700;
        margin-bottom: 2.8rem;
        color: transparent;
        background-image: url('../imgs/404-title.jpg');
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
    }
    &-label {
        margin-bottom: 1.6rem;
    }
    &-sub {
        margin-bottom: 8rem;
    }
}